
.container_buttons{
    display: flex;
    
    justify-content: space-evenly;
    
    height: 17vh
    

}

.items {
    margin: 10px;
    align-content: end;
    
}

.calendario{
    background: none;
}



